body{
    padding: 25px 13vw;
}
.form_field {
    border-radius: 10px;
    border-width: 1px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 15px;
}

.error {
    color: red;
    display: block;
    margin: 0 0 15px;
}

.form_label {
    display: block;
    margin: 0 0 15px;
}

label{
    display: flex;
   justify-content: space-between;
    width: 300px;
    margin-bottom: 15px;
}